cryptography>=41.0.0
pyperclip>=1.8.2
pyinstaller>=6.0.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
requests>=2.31.0
pyotp>=2.9.0
qrcode>=7.4.2
fastapi>=0.104.1
uvicorn>=0.24.0
pyjwt>=2.8.1
